<!DOCTYPE html>
<html>
<head>
  <link type="text/css" rel="stylesheet" href="/css/main.css" />

  <title>Blog</title>
</head>

<body>
  <a href="/" class="main-title">
    Blog
  </a>
  <div class="grid">
      <div class="row">
          <div class="col-10"></div>
          <div class="col-1">
            <div class="post-btn">
                <a href="/newpost">
                    New Post
                </a>
            </div>
          </div>
          <div class="col-1">
              <div class="logout-btn">
                <a href="/logout">
                    Logout
                </a>
              </div>      
          </div>
      </div>
  </div>  
  <br>  
  <div id="content">
  {% block content %}
  {% endblock %}
  </div>
</body>

</html>

