<div class="post">
  <div class="post-content">    
    <h4>{{c.username}} says:</h4>
    {{c.content}}
  </div>
  {% if c.author == userid %}
    <div class="grid">
        <div class="row">
            <div class="col-1">
                <div class="post-btn">
                    <a href="/edit/{{c.post_id}}/{{c.key().id()}}">EDIT</a>
                </div>
            </div>
            <div class="col-1">
                <div class="delete-btn">
                    <a href="/delete/{{c.post_id}}/{{c.key().id()}}">DELETE</a>
                </div>
            </div>
        </div>
    </div>    
    
  {% endif %}
  <hr>
</div>
