{% extends "baseunregister.html" %}

{% block content %}
    <h2 id="login-title">Login</h2>
    <div class="grid" id=login-form>
        <form method="post">
            <div class="row">
                <div class="col-12">
                    <div class="label">Username</div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <input type="text" name="username" value="{{username}}">
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="label">Password</div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                   <input type="password" name="password" value="">
                </div>
            </div>
            <div clas="row">
                <div class="col-12">
                    <input type="submit" value="Login" id="btn-login">
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="error">
                        {{error}}
                    </div>
                </div>                
            </div>                        
        </form>
        <a href="/signup">Sign up now</a>
    </div>    
{% endblock %}