{% extends "base.html" %}

{% block content %}
  {{post.render(userid) | safe}}

  <hr>
  <div class="grid">
      <div class="row">
        <div class="col-1">
            {% if not like %}
                <form method="post" action="?like=True">
                    <button class="submit">LIKE</button>
                </form>
            {% else %}
                <form method="post" action="?unlike=True">
                    <button class="unlike">UNLIKE</button>
                </form>
            {% endif %}
        </div>
        <div class="col-3">
            <p class="like-label"> {{cLikes}} Like this </p>
        </div>
      </div>
  </div>  
  {% for c in comments %}    
    {{c.render(userid) | safe}}
  {% endfor %}  

  <form method="post">
      <p>Comment:</p>
      <textarea name="content">{{content}}</textarea>
      <br>
      <div class="error">{{error}}</div>
      <button type="submit">Comment</button>
  </form>
{% endblock %}