<div class="post">
  <div class="post-heading">
    <div class="post-title">
      <a href="/{{p.key().id()}}">{{p.subject}}</a>      
    </div>

    <div class="post-date">
      {{p.created.strftime("%b %d, %Y")}}
    </div>
  </div>

  <div class="post-content">
    {{p._render_text | safe}}
  </div>
  {% if p.author == userid %}
    <div class="grid">
        <div class="row">
            <div class="col-10"></div>
            <div class="col-1">
                <div class="post-btn">
                    <a href="/edit/{{p.key().id()}}">Edit Post</a>
                </div>  
            </div>
            <div class="col-1">
                <div class="delete-btn">
                    <a href="/delete/{{p.key().id()}}">Delete</a>
                </div>
            </div>
        </div>
    </div>    
  {% endif %}
</div>
