{% extends "baseunregister.html" %}
{% block content %}
    <h2 id="login-title">Signup</h2>
    <div class="grid" id=login-form>
        <form method="post">
            <div class="row">
                <div class="col-3"></div>
                <div class="col-1">
                    <div class="label">Username</div>
                </div>
                <div class="col-3">
                    <input type="text" name="username" value="{{username}}">
                    <div class="error">
                        {{error_username}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-3"></div>
                <div class="col-1">
                    <div class="label">Password</div>
                </div>
                <div class="col-3">
                    <input type="password" name="password" value="">
                    <div class="error">
                        {{error_password}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-2"></div>
                <div class="col-2">
                    <div class="label">Verify Password</div>
                </div>
                <div class="col-2">
                    <input type="password" id="pswd-verify" name="verify" value="">
                    <div class="error">
                        {{error_verify}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-3"></div>
                <div class="col-1">
                    <div class="label">Email (optional)</div>
                </div>
                <div class="col-3">
                    <input type="text" name="email" value="{{email}}">
                    <div class="error">
                        {{error_email}}
                    </div>
                </div>
            </div>
            <input type="submit" value="Enter">
        </form>
    </div>
{% endblock %}
